<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="default" connectionString="Data Source=192.168.1.8,1433;Initial Catalog=Macrobiotica;Integrated Security=false;MultipleActiveResultSets=true;Application Name=Proyecto Final;Pooling=true;Max Pool Size=10;Min Pool Size=4;" />
        <add name="SIME_UTN.Properties.Settings.SIMEUTNConnectionString"
            connectionString="Data Source=192.168.1.8,1433;Initial Catalog=Macrobiotica;User ID=sa;Password=sa1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>